<div class="container">
  <div class="center-block col-md-6" style="float: none;">
    <div class="row text-center"><h3>Resetowanie hasła</h3></div>
    <br>
    <form (ngSubmit)="SendNewPassword()" #loginForm="ngForm">  
      <div class="form-group">
          <label for="name">Nowe hasło</label>
          <input type="password" class="form-control" id="password"
                  required
                  [(ngModel)]="model.password" name="password"
                  #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
                class="alert alert-danger">
            Hasło nie może być puste
          </div> 
        </div>
        <div class="form-group">
          <label for="name">Powtórz hasło</label>
          <input type="password" class="form-control" id="confirmPassword"
                  required
                  validateEqual="password"
                  [(ngModel)]="model.confirmPassword" name="confirmPassword"
                  #confirmPassword="ngModel">
          <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                class="alert alert-danger">
                Wprowadzone hasła nie są takie same
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">Submit</button>
      </form>
  </div>
</div>