<div class="container">
    <div class="center-block col-md-6" style="float: none;">
        <div class="row text-center"><h3>Resetowanie hasła</h3></div>
        <br>
        <form (ngSubmit)="SendMessagePassword()" #loginForm="ngForm">  
            <div class="form-group">
                <label>Wpisz poniżej swój adres e-mail</label>
                <input type="text" class="form-control" placeholder="e-mail" required name="surname" [(ngModel)]="model.emailAdress">
            </div>
            <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">Submit</button>
        </form>
    </div>
</div>