
<div class="container  text-center">
    <h1>Lista obecności pracownikow</h1>
    <hr>
        <div class="table-responsive">
              <table class="table">
                      <thead>
                          <tr>
                              <th>
                                  Obecność
                              </th>
                              <th>
                                  Imię
                              </th>
                              <th>
                                  Nazwisko
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let list of lista.userList">
                              <td> 
                                {{ list.presence == true ? 'Obecny' : 'Nieobecny' }}
                              </td>
                              <td>
                                {{list.name}}
                              </td>
                              <td>
                                {{list.surname}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
            </div>
    </div>
