.RegisterSection{
    margin: 0 auto; 
    width: 35%;  
    padding: 3%;
}

@media only screen and (max-width: 800px) { 
    
    .RegisterSection{
        width: 70%;
    }
  }
  
  @media only screen and (max-width: 450px) { 
    
    .RegisterSection{
        width: 100%;
    }
  }