
<div class="container  text-center">
  <h1>Zgłoszone nieobecności</h1>
  <hr>
      <div class="table-responsive">
            <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Imię
                            </th>
                            <th>
                                Nazwisko
                            </th>
                            <th>
                                Od kiedy?
                            </th>
                            <th>
                              Do kiedy?
                          </th>
                          <th>
                            Powód
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of listaAbsence">
                            <td> 
                              {{list.imie}}
                            </td>
                            <td>
                              {{list.nazwisko}}
                            </td>
                            <td>
                              {{list.dataOd}}  {{list.timeOd}}
                            </td>
                            <td>
                              {{list.dataDo}}  {{list.timeDo}}
                            </td>
                            <td>
                              {{list.powod}}
                            </td>
                        </tr>
                    </tbody>
                </table>
          </div>
  </div>
